.qualifier-conatiner {
  display: flex;
}
.qualifier-result {
  width: 160px;
  display: flex;
  flex-direction: column;
}
.result-label {
  flex: 1;
  border-bottom: 3px solid black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.result-value {
  flex: 1;
}
.right-border {
  border-right: 3px solid black;
}